<div
  style="
    background-color: #d4c3b5;
    color: #4a3423;
    border-radius: 6px;
    padding: 25px 15px;
    font-family: sans-serif;
  "
>
  <h1 style="color: #2c1f15; font-size: 25px; text-align: center">
    Registration Success! 🎉
  </h1>
  <p style="font-size: 17px; line-height: 1.8">
    You have successfully registered for <strong>Itihaas API</strong>!. Your
    unique API key is <strong>abcd1234</strong>. We advise that you keep the API
    key in a secure place and do not disclose it in public environments to avoid
    potential issues. We'd like to thank you for your interest with our API and
    recommend that you check out our contributions page, if you wish to make
    more contributions to Itihaas! Thank you for your interest and happy coding!
  </p>

  <div style="margin-top: 55px">
    <a
      href="#"
      style="
        background-color: #3b2a1c;
        color: #dfd2c8;
        padding: 10px 18px;
        border-radius: 4px;
        text-decoration: none;
        margin: 0 4px;
      "
      >Docs</a
    >
    <a
      href="#"
      style="
        background-color: #3b2a1c;
        color: #dfd2c8;
        padding: 10px 18px;
        border-radius: 4px;
        text-decoration: none;
        margin: 0 4px;
      "
      >Contributions</a
    >
    <a
      href="#"
      style="
        background-color: #3b2a1c;
        color: #dfd2c8;
        padding: 10px 18px;
        border-radius: 4px;
        text-decoration: none;
        margin: 0 4px;
      "
      >API Concerns</a
    >
  </div>
</div>
